*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    color: #ffffff;
    background-color: #849d8f;
}

.site-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/slider-photo-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slider-photo-2.png");
}

.site-wrapper::after {
    background-image: url("../img/slider-photo-3.png");
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 27px;
    /*временно*/
    outline: 1px solid black;
}

.inner-page {
    background-color: #849d8f;
    background-image: url("img/bg-catalog-lighting.png");
    background-repeat: no-repeat;
}

.inner-page h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.inner-page .main-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3)
}

img {
    max-width: 100%;
    height: auto;
}

a.button {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    cursor: pointer;
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    background-color: #e74a35;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    border: none;
}

.button:hover,
.button:focus {
    box-shadow: 0 2px 2px #ac1000;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button:active {
    color: #fceeec;
    box-shadow: inset 0 2px 2px #942718;
    background-color: rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.main-header a {
    text-decoration: none;
}


/* Сетка header начало */

.header-firstline {
    padding-top: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-navigation {
    display: flex;
}

.logo {
    width: 154px;
}


/* Сетка навигация начало*/

.navigation-menu {
    margin-left: 10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


/* Сетка навигация конец*/


/* Сетка поиск начало*/

.header-container {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: auto;
}

.shopping-cart,
.user-account {
    margin-left: 10px;
}


/* Сетка поиск конец*/

.header-worktime {
    text-align: right;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.header-worktime p {
    margin: 0;
}


/* Сетка header конец */

.navigation-menu .navigation-menu-link {
    padding: 10px 14px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.navigation-menu,
.navigation-submenu {
    list-style: none;
}

.navigation-menu {
    position: relative;
}

.navigation-menu-item:hover>.navigation-submenu {
    display: block;
}

.navigation-menu-link:hover,
.navigation-menu-link:focus {
    width: 87px;
    height: 32px;
    color: #323232;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 16px;
    background-color: #f7f6f3;
}

.navigation-menu-link:active {
    width: 87px;
    height: 32px;
    color: #323232;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    box-shadow: inset 0 2px 1px #696969;
    background-color: #ededed;
}

.navigation-menu-active>.navigation-menu-link,
.navigation-menu-active>.navigation-menu-link:hover,
.navigation-menu-active>.navigation-menu-link:focus,
.navigation-menu-active>.navigation-menu-link:active {
    color: #ffffff;
    background-color: #d07058;
    border-radius: 16px;
}

.navigation-submenu {
    position: absolute;
    top: 37px;
    left: -7px;
    display: none;
    border-radius: 5px;
    width: 143px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.navigation-submenu-link {
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.navigation-submenu-link:hover,
.navigation-submenu-link:focus {
    color: #323232;
    background-color: #fbded7;
}

.navigation-submenu-link:active {
    color: #323232;
    background-color: #f6b5a5;
}

.navigation-submenu-item:first-child .navigation-submenu-link {
    font-weight: 700;
    background-image: url("../img/share.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    /* border-bottom: 1px solid #d1d0ce; */
}

.navigation-submenu-active .navigation-submenu-link,
.navigation-submenu-active .navigation-submenu-link:hover,
.navigation-submenu-active .navigation-submenu-link:focus,
.navigation-submenu-active .navigation-submenu-link:active {
    color: #ffffff;
    background-color: #d07058;
}

.search {
    position: relative;
}

.search-link {
    border-radius: 50%;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.2);
}

.search-link:focus,
.search-link:hover {
    background-color: #f8f7f4;
}

.search:focus .search-form,
.search:hover .search-form {
    display: block;
}

.search-link:focus path,
.search-link:hover path {
    fill: #000000;
}

.search-form {
    position: absolute;
    top: 37px;
    right: 0px;
    display: none;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.search-form input {
    width: 310px;
}

.search-form input,
.user-form input {
    padding: 15px;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 3px;
    border: 1px solid #d3d3d2;
    background-color: #ffffff;
}

.user-account {
    position: relative;
}

.user-account-link {
    display: flex;
    align-items: center;
    padding: 5px 17px 6px 16px;
    border-radius: 16px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: rgba(255, 255, 255, 0.2);
}

.user-account-link span {
    padding: 3px 0 3px 7px;
}

.user-account-link:hover,
.user-account-link:focus {
    color: #323232;
    background-color: #f8f7f4;
}

.user-account-link:hover path,
.user-account-link:focus path {
    fill: #000000;
}

.user-account:hover .user-form {
    display: block;
}

.user-form {
    position: absolute;
    top: 37px;
    right: 0px;
    display: none;
    width: 277px;
    border-radius: 5px;
    padding: 20px 17px 22px 19px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.user-form input {
    width: 240px;
}

.user-form input[type="password"] {
    padding: 20px 15px;
    margin: 20px 0;
}

.user-form .button-enter {
    display: block;
    padding: 15px 25px;
    border-radius: 24px;
}

.user-account .account-link {
    display: block;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}

.user-account .account-link:hover,
.user-account .account-link:focus,
.user-account .account-link:active {
    color: #e84d37;
}

.user-form-click {
    display: flex;
    justify-content: space-between;
}


/* Формат когда в корзине есть товары */

.shopping-cart-content .shopping-cart-link {
    display: block;
    border-radius: 16px;
    padding: 10px 15px 9px 44px;
    color: #323232;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: rgba(248, 247, 244, 0.99);
    background-image: url("../img/icon-basket-red.svg");
    background-repeat: no-repeat;
    background-position: 16px 6px;
}

.shopping-cart-form {
    width: 540px;
    display: none;
    position: absolute;
    left: 955px;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.shopping-cart-content:hover .shopping-cart-form,
.shopping-cart-content:focus .shopping-cart-form {
    display: block;
}


/* Формат когда в корзине нет товаров */

.shopping-cart-empty .shopping-cart-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    display: block;
    border-radius: 16px;
    padding: 10px 17px 9px 45px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url("../img/icon-basket.svg");
    background-repeat: no-repeat;
    background-position: 16px 6px;
}

.header-phone {
    padding: 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.header-phone:hover,
.header-phone:focus,
.header-phone:active {
    color: #ffbc9e;
}


/* MAIN */

.main {
    margin-bottom: 45px;
}

.offers {
    position: relative;
    padding-top: 274px;
    text-align: center;
}

.offer-kit-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.offer-kit-item {
    display: none;
    color: #ffffff;
    font-weight: 700;
    line-height: 60px;
}

.button-kit {
    display: inline-block;
    margin-bottom: 40px;
    padding: 12px 40px;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    background-color: #ffffff;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    border-radius: 34px;
    border: none;
    cursor: pointer;
}

.offer-kit-controls label {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#offer-1:checked~.site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-photo-1.png");
}

#offer-2:checked~.site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-photo-2.png");
}

#offer-3:checked~.site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-photo-3.png");
}

#offer-1:checked~.site-wrapper #offer-1,
#offer-2:checked~.site-wrapper #offer-2,
#offer-3:checked~.site-wrapper #offer-3 {
    display: block;
}

#offer-1:checked~.site-wrapper label[for="offer-1"],
#offer-2:checked~.site-wrapper label[for="offer-2"],
#offer-3:checked~.site-wrapper label[for="offer-3"] {
    background-color: #ffffff;
}

.offer-kit-controls {
    position: absolute;
    bottom: 299px;
    left: 0;
    z-index: 10;
    font-size: 0;
}

.offer-kit-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 28px;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}

.offers-addition {
    display: flex;
    justify-content: space-between;
}

.offers-addition .addition-title {
    /* display: block; */
    margin: 0;
    margin-bottom: 16px;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.offers-addition .addition-content {
    margin: 0;
    margin-bottom: 44px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.offers-addition .addition-item {
    width: 560px;
    min-height: 230px;
    text-align: right;
    padding: 15px 20px 23px 18px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.offers-addition .button-addition {
    padding: 10px 24px 12px 22px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    background-color: rgba(255, 255, 255, 0.99);
    border-radius: 25px;
}

.offers-addition .button-addition:hover {
    padding: 10px 24px 12px 22px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 25px;
}

.addition-raspberry {
    background-color: #c61142;
    background-image: url("../img/bg-banner-raspberry.png");
}

.addition-chocolate {
    background-color: #4a2918;
    background-image: url("../img/bg-banner-chocolate.png");
}


/* FILTERS */

.filters {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.filters legend {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.filters-line-1 {
    display: flex;
    align-items: center;
}

.filters fieldset {
    border: none;
}

.filter-category {
    margin-right: 14px;
    padding: 0;
}

.filter-category legend {
    padding-left: 16px;
}

.filter-category select {
    width: 194px;
    height: 36px;
    padding: 2px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 18px;
    border: none;
    color: #ffffff;
    background: url("../img/icon-select-arrow.svg") no-repeat 96% / 15%;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-category select:hover,
.filter-category select:focus {
    color: #323232;
}

.filter-price {
    margin-right: 14px;
    padding: 0;
}

.filter-price-container {
    display: block;
    width: 220px;
    height: 37px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url("../img/icon-filter-price.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
}

.filter-price:hover {
    cursor: pointer;
}

.filter-fat {
    padding: 0;
}

.filter-fat-list {
    display: flex;
    padding: 8px 17px 7px 14px;
    border-radius: 19px;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-fat-item {
    padding-left: 32px;
}

.filter-fat-item:not(:last-child) {
    margin-right: 19px;
}

.filters-line-2 {
    display: flex;
    align-items: center;
}

.filter-filler {
    padding: 0;
    margin-right: 14px;
}

.filter-filler legend {
    padding-left: 16px;
}

.filter-filler-list {
    display: flex;
    align-items: center;
    padding: 8px 17px 7px 14px;
    border-radius: 19px;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-filler-item {
    padding-left: 32px;
}

.filter-filler-item:not(:last-child) {
    margin-right: 19px;
}

.button-filter {
    align-self: flex-end;
    width: 144px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.2);
}

.button-filter:hover,
.button-filter:focus {
    cursor: pointer;
    color: #323232;
    background-color: #ffffff;
}

.button-filter:active {
    color: #323232;
    box-shadow: inset 0 2px 1px #696969;
    background-color: #ededed;
}


/*  Сетка товары каталог начало*/

.goods-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 85px;
    padding: 0;
    list-style: none;
}

.goods-list .goods-items {
    width: 267px;
}

.goods-list .goods-photo {
    display: block;
    margin: 0 auto;
}


/*  Сетка товары каталог конец*/

.catalog-title {
    margin: 0;
    margin-bottom: 30px;
}

.goods-list .goods-item-link {
    text-decoration: none;
}

.goods-list .goods-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: underline;
}

.goods-item-link:hover .goods-title,
.goods-item-link:focus .goods-title,
.goods-item-link:active .goods-title {
    color: #ffbc9e;
}

.goods-list span {
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.goods-list .button-quick-view {
    display: none;
    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.features {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    min-height: 306px;
    color: #323232;
    background-color: #ede2ca;
    background-image: url("../img/bg-seo.png");
    border-radius: 20px;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
}

.features .features-title {
    margin: 0;
    padding-left: 20px;
    padding-top: 22px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.features-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features .features-item {
    width: 573px;
    margin: 0;
    padding: 16px 20px 0 76px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    list-style: none;
    background-position: 20px 0;
    background-repeat: no-repeat;
}

.features .features-ice-cream {
    background-image: url("../img/icon-seo-ice-cream.svg");
}

.features .features-cow {
    background-image: url("../img/icon-seo-cow.svg");
}

.features .features-eco {
    background-image: url("../img/icon-seo-eco.svg");
}

.features .features-thermometer {
    background-image: url("../img/icon-seo-thermometer.svg");
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.news {
    padding-left: 20px;
    padding-top: 20px;
    width: 560px;
    min-height: 220px;
    background-color: #ffffff;
    background-image: url("../img/bg-news-strawberry.jpg");
    background-repeat: no-repeat;
    border-radius: 20px;
}

.news,
.news-link {
    color: #323232;
}

.news-link:hover .news-title,
.news-link:focus .news-title,
.news-link:active .news-title {
    color: #e84d37;
}

.news-label {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.news .news-title {
    width: 282px;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline;
    vertical-align: top;
}

.subscription {
    width: 560px;
    min-height: 220px;
    padding: 32px 25px 0px;
    color: #323232;
    background-color: #ffffff;
    background-image: url("../img/bg-post-over.jpg"), url("../img/bg-post.svg");
    background-position: center center, 0 0;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.subscription p {
    margin: 0;
    margin-bottom: 35px;
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.subscription input {
    width: 368px;
    height: 44px;
    padding-left: 10px;
    margin-right: 5px;
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
}

.subscription .button {
    width: 129px;
    height: 44px;
    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 22px;
}

.map {
    min-height: 640px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map .contacts {
    width: 304px;
    margin-left: auto;
    padding: 32px 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #323232;
    border-radius: 10px;
    background-color: #ffffff;
}

.contacts span {
    display: block;
}

.contacts-phone,
.contacts-address {
    margin: 0;
}

.contacts-address {
    margin-bottom: 20px;
}

.contacts-address-title {
    padding-right: 100px;
}

.contacts-phone {
    margin-bottom: 26px;
}

.contacts-phone-title {
    margin-bottom: 4px;
}

.contacts-phone-link:hover,
.contacts-phone-link:focus,
.contacts-phone-link:active {
    color: #e84d37;
}

.contacts-address-content,
.contacts-phone-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.contacts .button {
    padding: 10px 28px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 22px;
}


/* FOOTER*/

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 26px;
}


/* FOOTER SOCIAL*/

.footer-social {
    width: 25%;
}

.social-item:not(:last-child) {
    margin-right: 11px;
}

.footer-social .social-list {
    display: flex;
    padding: 0;
    justify-content: flex-start;
    list-style: none;
}

.social {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.social:hover,
.social:focus {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.social:active {
    border: 3px solid rgba(255, 255, 255, 0.5);
    opacity: 0.8;
}

.social-twitter {
    background-image: url("../img/icon-social-twitter.svg");
}

.social-instagram {
    background-image: url("../img/icon-social-instagram.svg");
}

.social-facebook {
    background-image: url("../img/icon-social-fb.svg");
}

.social-vkontakte {
    background-image: url("../img/icon-social-vk.svg");
}


/* FOOTER DOCUMENTS */

.footer-documents {
    width: 50%;
    padding-left: 22px;
    padding-right: 77px;
}

.footer-documents .documents-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding-bottom: 10px;
    list-style: none;
}

.documents-item {
    width: 165px;
    /* width: 140px; */
}

.documents-item:nth-child(odd) {
    padding-left: 20px;
}

.footer-documents .documents-link {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.documents-heart {
    position: relative;
}

.documents-heart::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 13px;
    bottom: 0;
    left: 0;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
}

.documents-item:first-child .documents-link {
    font-weight: 700;
}

.footer-documents .documents-link:hover,
.footer-documents .documents-link:focus,
.footer-documents .documents-link:active {
    color: #ffbc9e;
}


/* FOOTER COPYRIGHT */

.footer-copyright {
    width: 25%;
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
}

.footer-copyright .htmlacademy-logo-link,
.footer-copyright .htmlacademy-link {
    color: #fefefe;
    text-decoration: underline;
}

.footer-copyright .htmlacademy-logo-link {
    margin: 0;
}

.footer-copyright p {
    margin: 0;
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
}

.footer-copyright .htmlacademy-link:hover,
.footer-copyright .htmlacademy-link:focus,
.footer-copyright .htmlacademy-link:active {
    color: #ffbc9e;
}

.breadcrumbs {
    position: relative;
    top: -97px;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs .breadcrumbs-link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline
}

.breadcrumbs .breadcrumbs-item:not(:first-child) {
    padding-left: 22px;
}

.breadcrumbs .breadcrumbs-link:hover,
.breadcrumbs .breadcrumbs-link:focus,
.breadcrumbs .breadcrumbs-link:active {
    color: #ffbc9e;
}

.breadcrumbs-current {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}


/* PAGINATION */

.pagination-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    list-style: none;
}

.pagination-item-before {
    background: url("../img/icon-right-small.svg") no-repeat center;
}

.pagination-item-after {
    background: url("../img/icon-right-small.svg") no-repeat center;
}

.pagination-link {
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    border-radius: 50%;
}

.pagination-item:not(:first-child):not(:last-child):not(.pagination-item-current) .pagination-link:hover,
.pagination-item:not(:first-child):not(:last-child):not(.pagination-item-current) .pagination-link:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item-current .pagination-link,
.pagination-item .pagination-link:active {
    color: #323232;
    background-color: #ffffff;
}

.user-message {
    display: none;
    width: 478px;
    min-height: 443px;
    border-radius: 10px;
    background-color: #f8f7f4;
}

.user-message p {
    color: #323232;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.user-message form {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}