*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    color: #ffffff;
    background-color: #849d8f;
}

.site-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/slider-photo-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slider-photo-2.png");
}

.site-wrapper::after {
    background-image: url("../img/slider-photo-3.png");
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 27px;
}

.inner-page {
    background-color: #849d8f;
    background-image: url("../img/bg-catalog-lighting.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.inner-page h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.inner-page .main-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3)
}

img {
    max-width: 100%;
    height: auto;
}

a.button {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    cursor: pointer;
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    background-color: #e74a35;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    border: none;
}

.button:hover,
.button:focus {
    box-shadow: 0 2px 2px #ac1000;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button:active {
    color: #fceeec;
    box-shadow: inset 0 2px 2px #942718;
    background-color: rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.main-header a {
    text-decoration: none;
}

.main-header {
    padding-top: 2px;
}


/* Сетка header начало */

.header-firstline {
    padding-top: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-navigation {
    display: flex;
}

.logo {
    width: 154px;
    margin-right: 10px;
}


/* Сетка навигация начало*/

.navigation-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    padding-bottom: 6px;
}


/* Сетка навигация конец*/


/* Сетка поиск начало*/

.header-container {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: auto;
    padding-bottom: 6px;
}

.basket,
.user-account {
    margin-left: 10px;
}


/* Сетка поиск конец*/

.header-worktime {
    text-align: right;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    /* outline: 3px solid orange; */
}

.header-worktime span {
    position: relative;
    display: block;
    top: -4px;
    /* outline: 1px solid green; */
}

.header-phone {
    padding: 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    /* outline: 1px solid green; */
}

.header-phone:hover,
.header-phone:focus,
.header-phone:active {
    color: #ffbc9e;
}


/* Сетка header конец */

.navigation-menu .navigation-menu-link {
    padding: 6px 14px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 16px;
}

.navigation-menu,
.navigation-submenu {
    list-style: none;
}

.navigation-menu>.navigation-menu-item {
    position: relative;
}

.navigation-menu-item:hover>.navigation-menu-link,
.navigation-menu-item:focus>.navigation-menu-link {
    width: 87px;
    height: 32px;
    color: #323232;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    background-color: #f7f6f3;
}

.navigation-menu-item:active>.navigation-menu-link {
    width: 87px;
    height: 32px;
    color: #323232;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    box-shadow: inset 0 2px 1px #696969;
    background-color: #ededed;
}

.navigation-submenu-container {
    position: absolute;
    top: 22px;
    left: -7px;
    display: none;
    padding-top: 13px;
    z-index: 20;
}

.navigation-submenu {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width: 143px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.navigation-menu>.navigation-menu-item:hover .navigation-submenu-container,
.navigation-menu>.navigation-menu-item:focus .navigation-submenu-container {
    display: block;
}

.navigation-submenu-link {
    display: block;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.navigation-submenu-link:hover,
.navigation-submenu-link:focus {
    color: #323232;
    background-color: #fbded7;
}

.navigation-submenu-item:first-child>.navigation-submenu-link:hover,
.navigation-submenu-item:first-child>.navigation-submenu-link:focus {
    border-radius: 5px 5px 0 0;
}

.navigation-submenu-item:last-child>.navigation-submenu-link:hover,
.navigation-submenu-item:last-child>.navigation-submenu-link:focus {
    border-radius: 0 0 5px 5px;
}

.navigation-submenu-link:active {
    color: #323232;
    background-color: #f6b5a5;
}

.navigation-submenu-link {
    padding: 10px 20px;
}

.navigation-submenu-item:first-child .navigation-submenu-link {
    font-weight: 700;
    background-image: url("../img/share.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.navigation-menu .navigation-menu-item>.navigation-menu-active {
    color: #ffffff;
    background-color: #d07058;
    /* border-radius: 16px; */
}

.navigation-submenu .navigation-submenu-active {
    color: #ffffff;
    background-color: #d07058;
}

.search {
    position: relative;
}

.search-link,
.search:not(:active) .search-link {
    width: 33px;
    height: 33px;
    padding: 10px 8px 4px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.search:focus .search-link,
.search:hover .search-link {
    background-color: #f8f7f4;
}

.search-form-container {
    position: absolute;
    top: 16px;
    right: 0px;
    padding-top: 15px;
    display: none;
    z-index: 20;
}

.search-form {
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.search:focus .search-form-container,
.search:hover .search-form-container,
.search:active .search-form-container {
    display: block;
}

.search:focus .search-link path,
.search:hover .search-link path,
.search:active .search-link path {
    fill: #000000;
}

.search-form input {
    width: 310px;
}

.search-form input,
.user-form input {
    padding: 10px 15px;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    background-color: #ffffff;
}

.user-account {
    position: relative;
}

.user-account-link {
    display: flex;
    align-items: center;
    padding: 5px 17px 6px 16px;
    border-radius: 16px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: rgba(255, 255, 255, 0.2);
}

.user-account-link span {
    padding: 3px 0 3px 7px;
}

.user-account:hover .user-account-link,
.user-account:focus .user-account-link,
.user-account:active .user-account-link {
    color: #323232;
    background-color: #f8f7f4;
}

.user-account:hover .user-account-link path,
.user-account:focus .user-account-link path,
.user-account:active .user-account-link path {
    fill: #000000;
}

.user-account:hover .user-form-container,
.user-account:focus .user-form-container,
.user-account:active .user-form-container {
    display: block;
}

.user-form-container {
    position: absolute;
    top: 32px;
    right: 0px;
    display: none;
    padding-top: 5px;
    z-index: 20;
}

.user-form {
    width: 277px;
    border-radius: 5px;
    padding: 20px 17px 22px 19px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.user-form input {
    width: 240px;
}

.user-form input[type="password"] {
    margin: 20px 0;
}

.user-form .button-enter {
    display: block;
    padding: 12px 25px;
    border-radius: 24px;
}

.user-account .account-link {
    display: block;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}

.user-account .account-link:hover,
.user-account .account-link:focus,
.user-account .account-link:active {
    color: #e84d37;
}

.user-form-click {
    display: flex;
    justify-content: space-between;
}


/* Формат когда в корзине нет товаров */

.basket-empty .basket-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    display: block;
    border-radius: 16px;
    padding: 8px 17px 8px 45px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url("../img/icon-basket.svg");
    background-repeat: no-repeat;
    background-position: 16px 6px;
}


/* Формат когда в корзине есть товары */

.basket-content {
    position: relative;
}

.basket-content .basket-list {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    padding-bottom: 15px;
    list-style: none;
    border-bottom: 1px solid #cacac7;
}

.basket-content .basket-link {
    display: block;
    border-radius: 16px;
    padding: 8px 15px 8px 44px;
    color: #323232;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: rgba(248, 247, 244, 0.99);
    background-image: url("../img/icon-basket-red.svg");
    background-repeat: no-repeat;
    background-position: 16px 6px;
}

.basket-form-container {
    position: absolute;
    width: 540px;
    display: none;
    top: 34px;
    right: 0;
    padding-top: 5px;
    z-index: 20;
}

.basket-form {
    display: block;
    padding: 20px 15px;
    text-align: right;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.basket-content:hover .basket-form-container,
.basket-content:focus .basket-form-container {
    display: block;
}

.basket-item {
    display: flex;
    align-items: flex-start;
    min-height: 33px;
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.basket-item:last-child {
    margin: 0;
}

.button-item-delete {
    display: block;
    width: 11px;
    height: 11px;
    margin-right: 14px;
    cursor: pointer;
    background-image: url("../img/icon-cross-small.svg");
    background-repeat: no-repeat;
}

.basket-photo {
    margin-top: -10px;
    display: block;
    margin-right: 14px;
}

.basket-item-title {
    display: block;
    width: 222px;
    margin: 0;
    margin-right: 20px;
    /* padding-top: 6px; */
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.basket-item-count {
    display: block;
    width: 105px;
    margin-right: 20px;
    text-align: right;
    color: #999999;
}

.basket-item-count span {
    color: #323232;
}

.basket-item-total {
    display: block;
    width: 58px;
    text-align: right;
}

.basket-total {
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}

.button-basket {
    padding: 10px 14px;
    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 24px;
}


/* MAIN */

.main {
    margin-bottom: 40px;
}

.offers {
    position: relative;
    margin-bottom: 40px;
    padding-top: 274px;
    text-align: center;
}

.offer-kit-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.offer-kit-item {
    display: none;
    color: #ffffff;
    font-weight: 700;
    line-height: 60px;
}

.button-kit {
    margin-bottom: 45px;
    padding: 10px 40px;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 34px;
}

.offer-kit-controls label {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.offer-kit-controls label:hover,
.offer-kit-controls label:focus {
    background-color: rgba(248, 247, 244, 0.4);
}

#offer-1:checked~.site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-photo-1.png");
}

#offer-2:checked~.site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-photo-2.png");
}

#offer-3:checked~.site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-photo-3.png");
}

#offer-1:checked~.site-wrapper .offer-1,
#offer-2:checked~.site-wrapper .offer-2,
#offer-3:checked~.site-wrapper .offer-3 {
    display: block;
}

#offer-1:checked~.site-wrapper label[for="offer-1"],
#offer-2:checked~.site-wrapper label[for="offer-2"],
#offer-3:checked~.site-wrapper label[for="offer-3"] {
    background-color: #ffffff;
}

.offer-kit-controls {
    position: absolute;
    bottom: 294px;
    left: 0;
    z-index: 10;
    font-size: 0;
}

.offer-kit-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 28px;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}

.offers-addition {
    display: flex;
    justify-content: space-between;
}

.offers-addition .addition-title {
    /* display: block; */
    margin: 0;
    margin-bottom: 16px;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.offers-addition .addition-content {
    margin: 0;
    margin-bottom: 44px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.offers-addition .addition-item {
    width: 560px;
    min-height: 230px;
    text-align: right;
    padding: 15px 20px 23px 18px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.offers-addition .button-addition {
    padding: 10px 24px 12px 22px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 25px;
}

.addition-raspberry {
    background-color: #c61142;
    background-image: url("../img/bg-banner-raspberry.png");
}

.addition-chocolate {
    background-color: #4a2918;
    background-image: url("../img/bg-banner-chocolate.png");
}


/* FILTERS */

.filters {
    margin: 0;
    margin-bottom: 28px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.filters legend {
    margin-bottom: 5px;
    padding-left: 16px;
    padding-bottom: 2px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.filters-form {
    display: flex;
    flex-wrap: wrap;
}

.filters fieldset {
    border: none;
    margin-bottom: 14px;
}

.filter-category {
    margin-right: 12px;
    padding: 0;
}

.filter-category select {
    display: block;
    width: 194px;
    height: 36px;
    padding: 2px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 18px;
    border: none;
    color: #ffffff;
    background: url("../img/icon-down-white.svg") no-repeat 91% / 15%;
    background-size: 11px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.filter-category select:hover,
.filter-category select:focus {
    color: #323232;
    background: url("../img/icon-down-black.svg") no-repeat 90% / 15%;
    background-size: 10px 16px;
}

.filter-price {
    margin-right: 12px;
    padding: 0;
}

.filter-price-container {
    display: block;
    width: 220px;
    height: 37px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url("../img/icon-filter-price.png");
    background-repeat: no-repeat;
    background-position: 46%;
    border-radius: 18px;
}

.filter-price:hover {
    cursor: pointer;
}


/* FILTER FAT */

.filter-fat {
    padding: 0;
}

.filter-fat-list {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 8px 17px 7px 14px;
    list-style: none;
    border-radius: 19px;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-fat-item:not(:last-child) {
    margin-right: 17px;
}

.filter-fat-label {
    position: relative;
    display: block;
    padding-left: 32px;
    cursor: pointer;
}

.filter-fat-label::after,
.fat-input:checked+.filter-fat-label::after {
    position: absolute;
    top: -2px;
    left: 0;
    content: "";
    width: 22px;
    height: 22px;
    opacity: 0.8;
    background: url("../img/icon-radio-off.svg") no-repeat;
    background-size: 22px;
}

.fat-input:checked+.filter-fat-label::after {
    background: url("../img/icon-radio-on.svg") no-repeat;
    background-size: 22px;
}

.filter-fat-label:hover::after,
.filter-fat-label:focus::after,
.fat-input:checked+.filter-fat-label:hover::after,
.fat-input:checked+.filter-fat-label:focus::after {
    opacity: 1;
}

.filter-item-locked::after,
.filter-item-locked::after,
.fat-input:checked+.filter-item-locked::after,
.fat-input:checked+.filter-item-locked::after,
.filter-item-locked:hover::after,
.filter-item-locked:focus::after,
.fat-input:checked+.filter-item-locked:hover::after,
.fat-input:checked+.filter-item-locked:focus::after {
    opacity: 0.4;
    cursor: default;
}


/* FILTER FILLER */

.filter-filler {
    padding: 0;
    margin-right: 14px;
}

.filter-filler-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 8px 17px 7px 14px;
    border-radius: 19px;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-filler-item {
    padding-left: 32px;
}

.filter-filler-item:not(:last-child) {
    margin-right: 22px;
}

.filter-filler-label {
    position: relative;
    display: block;
}

.filter-filler-label::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: -32px;
    top: 0;
    opacity: 0.8;
    background: url("../img/icon-checkbox-off.svg") no-repeat center;
    background-size: 20px;
}

.filler-input:checked+.filter-filler-label::after {
    background: url("../img/icon-checkbox-on.svg") no-repeat center;
    background-size: 22px 24px;
}

.filter-filler-label:hover::after,
.filter-filler-label:focus::after,
.filler-input:checked+.filter-filler-label:hover::after,
.filler-input:checked+.filter-filler-label:focus::after {
    opacity: 1;
}

.filter-item-locked::after,
.filter-item-locked::after,
.filler-input:checked+.filter-item-locked::after,
.filler-input:checked+.filter-item-locked::after,
.filter-item-locked:hover::after,
.filter-item-locked:focus::after,
.filler-input:checked+.filter-item-locked:hover::after,
.filler-input:checked+.filter-item-locked:focus::after {
    opacity: 0.4;
    cursor: default;
}


/* *********************** */

.button-filter {
    align-self: center;
    margin-top: 10px;
    width: 144px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.2);
}

.button-filter:hover,
.button-filter:focus {
    cursor: pointer;
    color: #323232;
    background-color: #ffffff;
}

.button-filter:active {
    color: #323232;
    box-shadow: inset 0 2px 1px #696969;
    background-color: #ededed;
}


/*  Сетка товары каталог начало*/

.goods-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
}

.bestsellers .goods-list {
    margin-bottom: 0px;
}

.goods-list .goods-item {
    position: relative;
    width: 267px;
    margin-bottom: 40px;
}

.goods-item:hover .button-quick-view {
    display: block;
}

.goods-item:hover::before {
    position: absolute;
    content: "";
    top: -6px;
    left: -13px;
    width: 293px;
    padding: 6px 14px 22px 13px;
    height: 405px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(248, 247, 244, 0.2);
    z-index: 10;
}

.button-quick-view {
    display: none;
    position: absolute;
    bottom: -55px;
    left: 33px;
    padding: 10px 17px;
    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    background-color: red;
    border-radius: 24px;
    z-index: 20;
}

.goods-list .goods-photo {
    display: block;
    margin: 0 auto;
}


/*  Сетка товары каталог конец*/

.catalog-title {
    margin: 0;
    margin-bottom: 7px;
    padding-top: 4px;
}

.goods-list .goods-item-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}


/* значок ХИТ */

.goods-item-hit::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 61px;
    height: 61px;
    background: url("../img/icon-hit.svg") no-repeat center;
}

.goods-list .goods-title {
    order: 1;
    margin: 0;
    margin-top: 18px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    text-decoration: underline;
}

.goods-item-link:hover .goods-title,
.goods-item-link:focus .goods-title,
.goods-item-link:active .goods-title {
    color: #ffbc9e;
}

.goods-list span {
    margin: 0;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.goods-list .goods-item-unit {
    margin-left: -5px;
    font-size: 30px;
}

.goods-list p {
    margin: 0;
    margin-top: -60px;
}

.features {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    min-height: 306px;
    color: #323232;
    background-color: #ede2ca;
    background-image: url("../img/bg-seo.png");
    border-radius: 20px;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
}

.features .features-title {
    margin: 0;
    padding-left: 20px;
    padding-top: 22px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.features-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features .features-item {
    position: relative;
    width: 573px;
    margin: 0;
    margin-bottom: 6px;
    padding: 16px 20px 0 76px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    list-style: none;
    background-position: 20px 0;
    background-repeat: no-repeat;
}

.features .features-item:nth-child(odd) {
    margin-right: 8px;
}

.features .features-item:nth-child(even) {
    width: 565px;
    padding: 16px 20px 0 64px;
}

.features .features-item::before {
    position: absolute;
    top: 0;
    left: 20px;
    content: "";
    width: 49px;
    height: 49px;
}

.features .features-item:nth-child(even)::before {
    top: 0;
    left: 5px;
}

.features .features-ice-cream::before {
    background-image: url("../img/icon-seo-ice-cream.svg");
}

.features .features-cow::before {
    background-image: url("../img/icon-seo-cow.svg");
}

.features .features-eco::before {
    background-image: url("../img/icon-seo-eco.svg");
}

.features .features-thermometer::before {
    background-image: url("../img/icon-seo-thermometer.svg");
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.news {
    padding-left: 20px;
    padding-top: 22px;
    width: 560px;
    min-height: 220px;
    background-color: #ffffff;
    background-image: url("../img/bg-news-strawberry.jpg");
    background-repeat: no-repeat;
    border-radius: 20px;
}

.news,
.news-link {
    color: #323232;
}

.news-link:hover .news-title,
.news-link:focus .news-title,
.news-link:active .news-title {
    color: #e84d37;
}

.news-label {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.news .news-title {
    width: 282px;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline;
    vertical-align: top;
}

.subscription {
    width: 560px;
    min-height: 220px;
    padding: 33px 26px 0px;
    color: #323232;
    background-color: #ffffff;
    background-image: url("../img/bg-post-over.jpg"), url("../img/bg-post.svg");
    background-position: center center, 0 0;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.subscription-form {
    display: flex;
    justify-content: space-between;
}

.subscription p {
    margin: 0;
    margin-bottom: 38px;
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.subscription input {
    display: block;
    width: 368px;
    height: 44px;
    /* margin-right: 10px; */
    padding-left: 12px;
    margin-right: 5px;
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
}

.subscription .button {
    width: 129px;
    height: 44px;
    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 22px;
}

.map {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../img/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.map .contacts {
    width: 304px;
    margin-left: auto;
    padding: 32px 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #323232;
    border-radius: 10px;
    background-color: #ffffff;
}

.contacts span {
    display: block;
}

.contacts-phone,
.contacts-address {
    margin: 0;
}

.contacts-address {
    margin-bottom: 20px;
}

.contacts-address-title {
    padding-right: 100px;
}

.contacts-phone {
    margin-bottom: 26px;
}

.contacts-phone-title {
    margin-bottom: 4px;
}

.contacts-phone-link:hover,
.contacts-phone-link:focus,
.contacts-phone-link:active {
    color: #e84d37;
}

.contacts-address-content,
.contacts-phone-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.contacts .button {
    padding: 10px 28px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 22px;
}


/* FOOTER*/

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 26px;
}


/* FOOTER SOCIAL*/

.footer-social {
    width: 25%;
}

.social-item:not(:last-child) {
    margin-right: 11px;
}

.footer-social .social-list {
    display: flex;
    padding: 0;
    justify-content: flex-start;
    list-style: none;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    opacity: 0.8;
}

.social:hover,
.social:focus {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.social:active {
    border: 3px solid rgba(255, 255, 255, 0.7);
    opacity: 0.8;
}

.social:active svg path {
    fill: "#e9e9e9";
}


/* FOOTER DOCUMENTS */

.footer-documents {
    width: 50%;
    padding-left: 22px;
    padding-right: 77px;
}

.footer-documents .documents-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding-bottom: 10px;
    list-style: none;
}

.documents-item {
    width: 165px;
    /* width: 140px; */
}

.documents-item:nth-child(odd) {
    padding-left: 20px;
}

.footer-documents .documents-link {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.documents-heart {
    position: relative;
}

.documents-heart::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 13px;
    bottom: 0;
    left: 0;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
}

.documents-item:first-child .documents-link {
    font-weight: 700;
}

.footer-documents .documents-link:hover,
.footer-documents .documents-link:focus,
.footer-documents .documents-link:active {
    color: #ffbc9e;
}


/* FOOTER COPYRIGHT */

.footer-copyright {
    width: 25%;
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
}

.footer-copyright .htmlacademy-logo-link,
.footer-copyright .htmlacademy-link {
    color: #fefefe;
    text-decoration: underline;
}

.footer-copyright .htmlacademy-logo-link {
    margin: 0;
}

.footer-copyright p {
    margin: 0;
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
}

.footer-copyright .htmlacademy-link:hover,
.footer-copyright .htmlacademy-link:focus,
.footer-copyright .htmlacademy-link:active {
    color: #ffbc9e;
}

.breadcrumbs {
    position: relative;
    top: -72px;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs .breadcrumbs-link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline
}

.breadcrumbs .breadcrumbs-item:not(:first-child) {
    padding-left: 16px;
    background-image: url("../img/icon-breadcrumbs-chevron.svg");
    background-repeat: no-repeat;
    /* почему-то не left  */
    background-position: left;
    background-size: 20px 20px;
}

.breadcrumbs .breadcrumbs-item:not(:last-child) {
    margin-right: 6px;
}

.breadcrumbs .breadcrumbs-link:hover,
.breadcrumbs .breadcrumbs-link:focus,
.breadcrumbs .breadcrumbs-link:active {
    color: #ffbc9e;
}

.breadcrumbs-current {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}


/* PAGINATION */

.pagination-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
    list-style: none;
}

.pagination-item-before .pagination-link {
    width: 27px;
    height: 26px;
    background: url("../img/icon-pagination-left.svg") no-repeat center;
    background-size: 12px 20px;
    background-position: center;
}

.pagination-item-after .pagination-link {
    width: 27px;
    height: 26px;
    background: url("../img/icon-pagination-right.svg") no-repeat center;
    background-size: 12px 20px;
    background-position: center;
}

.pagination-link {
    display: block;
    padding: 4px 8px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    border-radius: 50%;
}

.pagination-item:not(:last-child) {
    margin-right: 5px;
}

.pagination-link:hover,
.pagination-link:focus {
    cursor: pointer;
}

.pagination-item:not(:first-child):not(:last-child):not(.pagination-item-current) .pagination-link:hover,
.pagination-item:not(:first-child):not(:last-child):not(.pagination-item-current) .pagination-link:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-disabled .pagination-link {
    opacity: 0.4;
    cursor: default;
}

.pagination-item-current .pagination-link,
.pagination-item .pagination-link:active {
    color: #323232;
    background-color: rgba(255, 255, 255, 1);
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: #000000;
    opacity: 0.3;
    cursor: pointer;
}

.user-message {
    display: none;
    position: fixed;
    width: 478px;
    min-height: 443px;
    padding: 25px;
    padding-top: 16px;
    text-align: right;
    border-radius: 10px;
    background-color: #f8f7f4;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-open {
    display: block;
}

.user-message .user-message-title {
    margin: 0;
    text-align: left;
    margin-bottom: 20px;
    color: #323232;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.user-message-form {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.user-message-form input {
    display: block;
    width: 268px;
    padding: 11px 15px;
    margin-bottom: 20px;
}

.user-message-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 15px;
}

.user-message .button-close {
    position: absolute;
    top: 16px;
    right: 17px;
    width: 18px;
    height: 17px;
    border: none;
    background: url("../img/icon-cross-big.svg") no-repeat;
    cursor: pointer;
}

.button-user-message {
    text-align: right;
    padding: 10px 24px;
    border-radius: 24px;
    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}