body {
    font-family: "Roboto", "Arial", serif;
    width: 1250px;
    height: 2449px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.bg::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.ice-cream-offer {
    display: none;
    color: #ffffff;
    font-weight: 700;
    line-height: 60.35px;
}

input:checked[value="offer-1"]~.offer-name--1,
input:checked[value="offer-2"]~.offer-name--2,
input:checked[value="offer-3"]~.offer-name--3 {
    display: block;
}

input:checked[value="offer-1"]~.bg::after {
    background-color: #849d8f;
    background-image: url("img/slider-photo-1.png");
    background-repeat: no-repeat;
}

input:checked[value="offer-2"]~.bg::after {
    background-color: #8996a6;
    background-image: url("img/slider-photo-2.png");
    background-repeat: no-repeat;
}

input:checked[value="offer-3"]~.bg::after {
    background-color: #9d8b84;
    background-image: url("img/slider-photo-3.png");
    background-repeat: no-repeat;
}